@font-face {
     font-family: Eraser;
     src: url('Eraser.ttf');

}
@font-face{
	 font-family: Geneva;
     src: url('Geneva.ttf');
   
}  

@font-face{
	font-family: trade-gothic-lt-std-bold-condensed-no-20;
     src: url('trade-gothic-lt-std-bold-condensed-no-20.ttf');
 }
